In [50]:
import requests

In [51]:
# url = "http://encore/api/v1/get-api/request3?name=sb&email=gmail&organization=dongjak" => MenberDto에서 return에서 MenberDTO이름도 출력하도록 "MenberDto{name='sb', email='gmail', organization='dongjak'}"
url = "http://encore/api/v1/get-api/request3?name=encore&email=encore@encore.com&organization=dongjak" # => MenberDTO이름 지우고 실행 "{name='sb', email='gmail', organization='dongjak'}"
# api폴더에서 생성하였던 MenebrDto작성해서 GetController로 값을 입력 시
# DTO에서 처리하여 (key=value) 할 수 있도록 한 api값인 url을 활용해 보자.

In [53]:
r = requests.get(url)

ConnectionError: HTTPConnectionPool(host='encore', port=80): Max retries exceeded with url: /api/v1/get-api/request3?name=encore&email=encore@encore.com&organization=dongjak (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x000002B733FCDD80>: Failed to establish a new connection: [WinError 10061] 대상 컴퓨터에서 연결을 거부했으므로 연결하지 못했습니다'))

In [ ]:
r.status_code

200

In [ ]:
r.text

"{name='sb', email='gmail', organization='dongjak'}"

In [ ]:
# URL을 구성 요소별로 분석하여 파싱
from urllib import parse
data = parse.urlparse(url)

In [ ]:
# URL을 여러 부분으로 분리하여 결과를 네임드 튜플(named tuple) 형식으로 반환
data

ParseResult(scheme='http', netloc='encore', path='/api/v1/get-api/request3', params='', query='name=sb&email=gmail&organization=dongjak', fragment='')

In [ ]:
data.query

'name=sb&email=gmail&organization=dongjak'

In [ ]:
# 쿼리 문자열을 파싱하여 딕셔너리 형태로 변환
query_data = parse.parse_qs(data.query)

In [ ]:
query_data['name'] = 'bts'

In [ ]:
query_data

{'name': 'bts', 'email': ['gmail'], 'organization': ['dongjak']}

In [ ]:
parse.urlencode(query_data, doseq=True) # doseq: {[]}를 무시한다는 것.

'name=sb&email=gmail&organization=dongjak'

In [ ]:
query_data = parse.parse_qs(data.query)
query_data['name'] = 'sb'
parse.urlencode(query_data, doseq=True)

'name=sb&email=gmail&organization=dongjak'

### GET 방식 XML타입의 URL
- 측정소별 실시간 측정정보 조회
  - 측정소명과 측정데이터 기간(일,한달,3개월)으로 해당 측정소의 일반항목 측정정보를 제공하는 측정소별 실시간 측정정보조회

In [98]:
import requests

In [99]:
url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?serviceKey=34lIyWAciAsJlGtIZ4ltpLy2sLZDR%2BBRWvAv8RgoADNEd%2BKCgHe84XiSRUwL8JMMIubzsFW3ddjcNlhZHhvJIQ%3D%3D&returnType=xml&numOfRows=10000&pageNo=1&stationName={}&dataTerm=3MONTH&ver=1.0"

In [100]:
r3 = requests.get(url)

In [101]:
import requests
import tqdm # 진행시간을 알려준다.
# pip install tqdm
import pandas as pd
import xml.etree.ElementTree as ET

### 강남구 종로구 동작구의 10000개 데이터 추출 후 속성 추가하기

In [130]:
url = "http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getMsrstnAcctoRltmMesureDnsty?serviceKey=34lIyWAciAsJlGtIZ4ltpLy2sLZDR%2BBRWvAv8RgoADNEd%2BKCgHe84XiSRUwL8JMMIubzsFW3ddjcNlhZHhvJIQ%3D%3D&returnType=xml&numOfRows=10000&pageNo=1&stationName={}&dataTerm=3MONTH&ver=1.0"
station = ['종로구', '강남구', '동작구']
df_total = []

for city in tqdm.tqdm(station):
    r3 = requests.get(url.format(city), verify=False)
    root = ET.fromstring(r3.text)
    items = root.iter(tag='item')
    total = []
    for data in items:
        tmp = {}
        for x in data:
            tmp[x.tag] = x.text
        total.append(tmp)
    df = pd.DataFrame(total)
    df['지역'] = city
    df_total.append(df)
air_df = pd.concat(df_total)

100%|██████████| 3/3 [00:22<00:00,  7.41s/it]

In [131]:
air_df.shape

(6618, 22)

### 동작구,강남구,종로구의 오존 평균구하기

In [126]:
air_df.loc[air_df.o3Value != "-", 'o3Value'][0].values[0]

'0.091'

In [132]:
tmp_df = air_df.loc[(air_df.dataTime.apply(lambda x : x[:7]  == "2023-08")) & (air_df.o3Value != "-") ,:].copy()

In [133]:
tmp_df['o3Value'] = tmp_df.o3Value.astype(float)

In [138]:
tmp_df.groupby(['지역'])[['o3Value']].agg(['mean', 'max', 'min', 'median'])

      o3Value
         mean    max    min median
지역
강남구  0.031981  0.131  0.002  0.025
동작구  0.037126  0.141  0.005  0.030
종로구  0.034927  0.126  0.005  0.028

In [141]:
tmp_df.shape

(1157, 22)

In [145]:
air_df.shape

(6618, 22)

In [146]:
air_df.head()

,so2Grade,coFlag,khaiValue,so2Value,coValue,pm25Flag,pm10Flag,pm10Value,o3Grade,khaiGrade,pm25Value,no2Flag,no2Grade,o3Flag,pm25Grade,so2Flag,dataTime,coGrade,no2Value,pm10Grade,o3Value,지역
0,1,None,101,0.003,0.5,None,None,28,3,3,20,None,1,None,1,None,2023-08-17 15:00,1,0.014,1,0.091,종로구
1,1,None,96,0.003,0.5,None,None,22,2,2,15,None,1,None,1,None,2023-08-17 14:00,1,0.013,1,0.085,종로구
2,1,None,88,0.003,0.5,None,None,24,2,2,16,None,1,None,1,None,2023-08-17 13:00,1,0.013,1,0.076,종로구
3,1,None,79,0.003,0.5,None,None,23,2,2,14,None,1,None,1,None,2023-08-17 12:00,1,0.016,1,0.064,종로구
4,1,None,65,0.003,0.5,None,None,18,2,2,9,None,1,None,1,None,2023-08-17 11:00,1,0.013,1,0.048,종로구

In [147]:
air_df.tail()

,so2Grade,coFlag,khaiValue,so2Value,coValue,pm25Flag,pm10Flag,pm10Value,o3Grade,khaiGrade,pm25Value,no2Flag,no2Grade,o3Flag,pm25Grade,so2Flag,dataTime,coGrade,no2Value,pm10Grade,o3Value,지역
2201,1,None,57,0.003,0.3,None,None,37,2,2,21,None,1,None,2,None,2023-05-17 22:00,1,0.007,2,0.033,동작구
2202,1,None,56,0.003,0.3,None,None,43,2,2,19,None,1,None,1,None,2023-05-17 21:00,1,0.008,2,0.034,동작구
2203,1,None,57,0.003,0.3,None,None,48,2,2,20,None,1,None,1,None,2023-05-17 20:00,1,0.008,2,0.037,동작구
2204,1,None,62,0.003,0.2,None,None,33,2,2,13,None,1,None,1,None,2023-05-17 19:00,1,0.008,2,0.043,동작구
2205,1,None,66,0.003,0.2,None,None,36,2,2,16,None,1,None,1,None,2023-05-17 18:00,1,0.007,1,0.048,동작구

### DB 저장

In [148]:
import sqlalchemy
user = 'root'
password = '1234'
host='127.0.0.1' # loopback # localhost
port = '3306'
database = 'encore'
engine = sqlalchemy.create_engine(f"mysql://{user}:{password}@{host}:{port}/{database}") # MYSQL오류 발생 => # sqlalchemy 의존성 패키지 설치
engine

Engine(mysql://root:***@127.0.0.1:3306/encore)

In [149]:
air_df.to_sql(con=engine, name='air_pollution', if_exists='append')

6618